<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Hello</h1>
  <P>visits:{{session['number']}}</P>
  <form class="" action="/counter" method="post">
    <input type="submit" name="name" value="adding 2">
  </form>
  <!-- br -->
  <form class="" action="/reset" method="post">
    <input type="submit" name="name" value="resetting">
  </form>
</body>
</html>
